/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2014, 10:02:57 PM
    Author     : Samsung
*/
body {
    background-color: #4775FF;
    font:Arial ;
    font-size:16px;
}   

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

.InspirationForm {
    /*background: url(../images/meta_bg_wht.png) 0 0 repeat;
    background-image: url(../images/meta_bg_wht.png);
    width: 100%;
    padding: 18px 18px 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;*/
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    top: 150px;
}

.ViewInspirationForm{
    background: url(../images/meta_bg_wht.png) 0 0 repeat;
    background-image: url(../images/meta_bg_wht.png);
    width: 45%;
    padding: 18px 18px 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    top: 20px;
}

.InspirationTitle{
    text-align: center;
    color:  white;
}

.SearchResult{
    background: url(../images/meta_bg_wht.png) 0 0 repeat;
    background-image: url(../images/meta_bg_wht.png);
    width: 70%;
    padding: 18px 18px 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    font-size:16px;
}

.ResultList{
    width: 80%;
    padding: 18px 18px 12px 16px;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    font-size:16px;
    font-family: Arial, sans-serif;
}.ResultList tr:nth-child(4n){
    border-bottom: 2px dotted black;
    height: 15px;
}.ResultList tr:nth-child(4n+1){
    height: 15px;
}.ResultList tr:nth-child(4n+2){
    height: 30px;
}.ResultList tr:nth-child(4n+3){
    height: 30px;
}.ResultList tr:nth-child(even) td:nth-child(odd){
    text-align: left;
    font-size:18px;
    font-weight: bold; 
}.ResultList tr:nth-child(even) td:nth-child(even){
    text-align: right;
}.ResultList tr:nth-child(odd) td:nth-child(odd){
    text-align: left;
}.ResultList tr:nth-child(odd) td:nth-child(even){
    text-align: right;
}

.ReviewResult{
    background: url(../images/meta_bg_wht.png) 0 0 repeat;
    background-image: url(../images/meta_bg_wht.png);
    width: 50%;
    padding: 18px 18px 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    font-size:16px;
}
.ReviewList{
    width: 90%;
    padding: 18px 18px 12px 16px;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    font-size:16px;
    font-family: Arial, sans-serif;
}.ReviewList tr:nth-child(3n){
    border-bottom: 2px dotted black;
    height: 15px;
}.ReviewList tr:nth-child(3n+1){
    height: 15px;
}.ReviewList tr:nth-child(3n+2){
    height: 30px;
}.ReviewList tr:nth-child(3n+2) td:nth-child(1){
    text-align: center;
    font-weight: bold; 
    width: 20%;
}.ReviewList tr:nth-child(3n+2) td:nth-child(2){
    text-align: left;
}.ReviewList tr:nth-child(3n+2) td:nth-child(3){
    text-align: center;
}

.itemCat{
    text-align: center;
}

.PublicGeneratedTable {
    margin:0px;padding:0px;
    width:75%;
    border:1px solid #000000;
    margin-left:auto; 
    margin-right:auto;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.PublicGeneratedTable table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.PublicGeneratedTable tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.PublicGeneratedTable table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.PublicGeneratedTable table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.PublicGeneratedTable tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.PublicGeneratedTable tr:hover td{
    background-color:#bfdefc;
}
.PublicGeneratedTable td{
    vertical-align:middle;

    background-color:#ffffff;

    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.PublicGeneratedTable tr:last-child td{
    border-width:0px 1px 0px 0px;
}.PublicGeneratedTable tr td:last-child{
    border-width:0px 0px 1px 0px;
}.PublicGeneratedTable tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.PublicGeneratedTable tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:16px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.PublicGeneratedTable tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
}
.PublicGeneratedTable tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.PublicGeneratedTable tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
.PublicGeneratedTable td:first-child{
    width: 40%;
}
.PublicGeneratedTable td:nth-child(2){
    width: 20%;
}
.PublicGeneratedTable td:nth-child(3){
    width: 20%;
}
.PublicGeneratedTable td:nth-child(4){
    width: 20%;
}

.BlueButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.BlueButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.BlueButton:active {
	position:relative;
	top:1px;
}

/*http://www.bestcssbuttongenerator.com/*/
.GreenButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.GreenButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.GreenButton:active {
	position:relative;
	top:1px;
}

.OrangeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.OrangeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.OrangeButton:active {
	position:relative;
	top:1px;
}
//http://jsfiddle.net/miqdad/Qy6Sj/1/
#widnow{
    width:100%;
    border:solid 1px;
}

#title_bar{
    width: 100%;
    font-size:20px;
    font-weight:bold;
    
    background: url(../images/meta_bg_wht.png) 0 0 repeat;
    background-image: url(../images/meta_bg_wht.png);
    //width: 45%;
    padding: 18px 18px 12px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    text-align: center;
    //top: 20px;
    
}
#category{
    color:black;
    float:left;
    font: Arial;
    text-align: left;
    
    max-width: 100%;
    //background:red;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
}

#box{
    //height: 250px;
    //background: #DFDFDF;
}
.minimizeCat{
    
    //border:solid 1px;
    width: 10px;
    //height: 23px;
    float:right;
    cursor:pointer;
    text-align: right;
    
    //background:yellow;
    //white-space:nowrap;
   // overflow:hidden;
    //text-overflow:ellipsis;
    //-ms-text-overflow:ellipsis;
    text-align: right;
}